@import "tailwindcss";

/* Stelle sicher, dass Tailwind deine Dateien scannt */
@source "../src/**/*.{vue,js,ts,jsx,tsx,html}";
@source "../index.html";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-skipbo-red: #E4002B;
  --color-skipbo-blue: #004B8D;
  --color-skipbo-green: #009F3D;
  --color-skipbo-yellow: #FFD200;
  --color-skipbo-dark: #0f172a;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-sans);
  }
}